.contact-container {
    text-align: center;
    padding: 30px;
    margin-top: 100px;
    background-color: whitesmoke;
    font-size: 20px;
}

.contact-message {
    color: black;
}

a {
    color: blue;
}
