/* Made with love by Mutiullah Samim*/

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    font-family: 'Numans', sans-serif;
    background-size: cover; /* Optional: if you still want a CSS background on body */
    background-repeat: no-repeat; /* Optional */
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-primary-text-emphasis);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #25003a;
    z-index: -1; /* Place it behind other content */
    /* Optional: Add a border for visibility during development */
    /* border: 1px solid blue; */
}

#overlay-content {
    position: relative; /* Essential for content to be above canvas */
    z-index: 1; /* Ensures it's above the canvas */
    color: white;
    text-align: center;
    padding-top: 50px;
}

.container {
    height: 100%;
    align-content: center;
}

.fa-file-word {
    background-image: url('../images/logo.png');
}

.card {
    min-height: 350px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgb(88 120 191 / 50%) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

.card-header h3 {
    color: white;
}
/*.card-header img {
    display: block;
    margin: 11px 131px;
    position: relative;
    top: -51px;
}*/
.card-header img {
    display: block;
    /* margin: 11px 131px; */
    /* position: relative; */
    top: -51px;
    /* margin-left: 31px; */
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login_btn:hover {
        color: black;
        background-color: white;
    }

.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }

.app-logo {
    height: 100px;
    width: auto;
    margin-right: 10px;
}