.card {
    min-height: 350px;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    background-color: rgb(88 120 191 / 50%) !important;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 200px;
}