/*===========================================================
    Table style
===========================================================*/
.table {
    color: #110a21;
    border: 1px solid #7687b3;
}

    .table td, .table th {
        padding: .4rem .75rem;
        vertical-align: middle;
    }

    .table tbody {
        font-size: 15px;
    }

table.table-sm, table.table-sm tbody {
    font-size: 13px;
}

    table.table-sm th, table.table-sm td {
        padding: .2rem .5rem;
    }

.table thead th {
    border-bottom: 1px solid #c6a3e4;
    background-color: #044C92;
    color: #ffffff;
    border-top: 0;
}

    .table thead th.bg-purple-soft {
        background: #d4c2ef;
    }

.table th {
    border-top: 1px solid #c6a3e4;
}

.table.table-color thead {
    background: #f6f2ff;
}

.table.table-color th {
    color: #00259c;
}

.table-bordered th {
    border: 1px solid #c6a3e4;
}

.table.table-borderless .table, .table.table-borderless thead th, .table-borderless tbody + tbody, .table-borderless td, .table-borderless th, .table-borderless thead th, .table .table.table-borderless thead th, .table .table.table-borderless th .table .table.table-borderless {
    border: 0;
}

.table.table-borderless .table-bordered td, .table.table-borderless .table-bordered th {
    border: 1px solid #cbd0d4;
}

table.smartTable {
    border: 1px solid #e3e8f7;
}

    table.smartTable.no-footer {
        border-bottom-color: #d0d7e8;
    }

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 3px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 1px;
    transition: all 0.2s ease-in-out;
}

.page-link {
    color: #4d5875;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 32px;
    border-width: 0;
    background-color: #dde2ef;
    margin-left: 0;
    font-weight: 500;
    position: relative;
    display: flex;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #00299e;
    background-color: #e3e7ed;
    border: 1px solid #ecf0fa;
    font-weight: 600;
}

.pagination li a {
    margin-right: 4px;
    border-radius: 4px;
}

.pagination li.previous .page-link, .pagination li.next .page-link {
    width: auto;
}

.dataTables_paginate .pagination .page-link:hover {
    color: #ffffff;
    background-color: #00299e;
}

.form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.76562rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.dataTables_paginate .pagination .page-link {
    padding: 0.3rem 0.75rem;
    background-color: #f2feff;
    border: 1px solid #0000d1;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0000d1;
    border-color: #0000d1;
}

.page-item.disabled .page-link {
    color: #6276ad;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background-color: transparent;
    color: #d0d7e8 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    margin-right: 3px;
}

div.dataTables_wrapper div.dataTables_filter label {
    text-align: right;
}

table.smartTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before {
    top: 9.5px;
    left: 7px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    box-shadow: none;
    background-color: #d0d7e8;
    font-size: 14px;
    font-weight: 700;
    color: #949eb7;
}

/*table.smartTable tbody td.sorting_1 {
        background-color: #ecf0fa;
    }*/

table.smartTable thead .sorting::before, table.smartTable thead .sorting::after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc:before {
    bottom: 0.5em;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.5em;
}

div.dataTables_wrapper div.dataTables_length select {
    display: inline-block;
    /*width: 100%;*/
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5875;
    vertical-align: middle;
    /*background: url(images/arrow.svg) no-repeat right 0.75rem center/8px 10px;*/
    background-color: #fff;
    border: 1px solid #e3e8f7;
    border-radius: 3px;
    appearance: none;
}

div.dataTables_wrapper div.dataTables_length select {
    height: calc(1.5em + 0.5rem + 2px);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.76562rem;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0;
    border: 1px solid #e3e8f7;
    padding: 5px 10px;
    line-height: 1.539;
    color: #031b4e;
    border-radius: 3px;
    width: 100%;
}

.dataTables_filter .form-control:focus, div.dataTables_wrapper div.dataTables_length select:focus {
    outline: 1px solid #7687b3;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_filter label {
    display: block;
    margin-bottom: 15px;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: right;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}
    /*table.dataTable thead .sorting_asc {
    background-image: url(images/sort_asc.png);
}
table.dataTable thead .sorting {
    background-image: url(images/sort_both.png);
}
table.dataTable thead .sorting_desc {
    background-image: url(images/sort_desc.png);
}*/
    table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        bottom: 0.5em;
    }

.btn-outline-primary {
    color: #0061f2;
    border-color: #0061f2;
}