@{
    ViewData["Title"] = "ContactUs";

    Layout = null;

}
<link href="~/css/contactus.css" rel="stylesheet" />
<div class="container contact-container">

    <h2><b> Contact Us</b></h2>
    <p class="contact-message">
        Welcome  We've received your registration details. Your account is under review by our support team for final activation.
    </p>

    <!-- Contact Information -->
    <p class="contact-message">
        Call Us: <span>39644</span>
    </p>

    <p class="contact-message">
        Our support team will process your request as soon as possible. Thank you!
    </p>
</div>

